In [181]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [182]:
df=pd.read_csv("/content/wines_SPA.csv")
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [183]:
df.isnull().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [184]:
df['type'].fillna(df['type'].mode()[0],inplace=True)
df['acidity'].fillna(df['acidity'].mean(),inplace=True)
df['body'].fillna(df['body'].mean(),inplace=True)

<ipython-input-184-558b666b78c1>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['type'].fillna(df['type'].mode()[0],inplace=True)
<ipython-input-184-558b666b78c1>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['acidity'].fillna(df['acidity'].mean(),inplace=True)
<ipython-input-184-558b666b78c1>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['body'].fillna(df['body'].mean(),inplace=True)

In [185]:
df=df.drop_duplicates()

In [186]:
df['year']=df['year'].dropna()

In [187]:
df.isnull().sum()

winery         0
wine           0
year           2
rating         0
num_reviews    0
country        0
region         0
price          0
type           0
body           0
acidity        0
dtype: int64

In [188]:
df.dtypes

winery          object
wine            object
year            object
rating         float64
num_reviews      int64
country         object
region          object
price          float64
type            object
body           float64
acidity        float64
dtype: object

In [189]:
from sklearn.preprocessing import LabelEncoder
df['wine']=LabelEncoder().fit_transform(df['wine'])
df['type']=LabelEncoder() .fit_transform(df['type'])
df['winery']=LabelEncoder() .fit_transform(df['winery'])
df['region']=LabelEncoder() .fit_transform(df['region'])
df['country']=LabelEncoder() .fit_transform(df['country'])

In [190]:
df["year"].nunique()

71

In [191]:
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [192]:
df['year'].dtypes

dtype('float64')

In [193]:
df['year'].fillna(df['year'].mean(),inplace=True)

<ipython-input-193-54162e6e3a37>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['year'].fillna(df['year'].mean(),inplace=True)

In [194]:
df.isnull().sum()

winery         0
wine           0
year           0
rating         0
num_reviews    0
country        0
region         0
price          0
type           0
body           0
acidity        0
dtype: int64

In [195]:
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,422,759,2013.0,4.9,58,0,69,995.00,19,5.0,3.0
1,33,819,2018.0,4.9,31,0,74,313.50,18,4.0,2.0
2,447,778,2009.0,4.8,1793,0,57,324.95,11,5.0,3.0
3,447,778,1999.0,4.8,1705,0,57,692.96,11,5.0,3.0
4,447,778,1996.0,4.8,1309,0,57,778.06,11,5.0,3.0

In [196]:
new_df=df.drop(['price'],axis=1,inplace=False)
target=df["price"]

In [197]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(new_df, target, test_size=0.2, random_state=42)

In [198]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [199]:
model = Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [200]:
model.compile(optimizer='adam', loss='mse', metrics=['mae'])

model.fit(X_train, y_train,  validation_data=(X_test, y_test))

predictions = model.predict(X_test)

loss,mae=model.evaluate(X_test, y_test)

print(f"mean absolute error : {mae}")
print(f"Loss : {loss}")

52/52 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 104696.3984 - mae: 203.4239 - val_loss: 75031.1719 - val_mae: 127.8557
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step
13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 75246.1406 - mae: 124.0316
mean absolute error : 127.85572814941406
Loss : 75031.171875